<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
<div class="columns">
  <div class="column">
      <h1 class="is-size-1 has-text-centered has-text-primary"> 404 Page Not Found.</h1>
      <div class="has-text-centered mtl">
        <a class="button is-large is-primary is-outlined"  routerLink=''>HOME</a>
      </div>
  </div>
</div>
