<div class="navbar is-primary">
    <div class="container">
    <a class="navbar-item" routerLink='/home' routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>
    <a class="navbar-item" routerLink='/about' routerLinkActive="active">
      About
    </a>
    <a class="navbar-item" routerLink='/blog' routerLinkActive="active">
      Blog
    </a>
    <a class="navbar-item" routerLink='/contact' routerLinkActive="active">
      Contact
    </a>
   </div>
</div>
